<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Get All Countries">
    <meta name="author" content="j-sce">
    <title>Get All Countries</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}</style>
</head>
<body class="w3-light-grey">
<h3>List of Countries</h3>
<ul>
    <li th:each="country : ${countries}">
        <span th:text="${country.name}"></span> (<span th:text="${country.countryCode}"></span>)
    </li>
</ul>
<form action="/" method="get">
    <input class="w3-button w3-dark-grey" type="submit" value="Go to main page"  name="Submit" />
</form>
</body>
</html>